Repository aaronurayan/le-restaurant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-testing.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-testing.yml: any file but: README.md, docs, .gitignore
  azure-pipelines.yml: any of: backend, azure-pipelines.yml

Unit test Frontend
  MENU_MANAGEMENT_IMPLEMENTATION_COMPLETE.md
  azure-pipeline-Mike.yml
Due: azure-pipelines-testing.yml

Backend unit tests update
  MENU_MANAGEMENT_IMPLEMENTATION_COMPLETE.md
  azure-pipeline-Mike.yml
Due: azure-pipelines-testing.yml

Update azure-pipeline-Mike.yml
  azure-pipeline-Mike.yml
Due: azure-pipelines-testing.yml

updated java version
  azure-pipeline-Mike.yml
  backend/build.gradle
Due: azure-pipelines-testing.yml, azure-pipelines.yml

Update MenuServiceTest.java
  backend/src/test/java/com/lerestaurant/le_restaurant_backend/service/MenuServiceTest.java
Due: azure-pipelines-testing.yml, azure-pipelines.yml

Update MenuService.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/service/MenuService.java
Due: azure-pipelines-testing.yml, azure-pipelines.yml

FINAL COMMIT AND PIPELINE SHOULD WORK
  MENU_MANAGEMENT_IMPLEMENTATION_COMPLETE.md
  backend/src/test/java/com/lerestaurant/le_restaurant_backend/service/MenuServiceTest.java
Due: azure-pipelines-testing.yml, azure-pipelines.yml

commit
  DefectLog.md
  TestExecutionGuide.md
  Timesheet.md
  azure-pipelines.yml
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/service/UserService.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/util/PasswordValidator.java
  backend/src/test/java/com/lerestaurant/le_restaurant_backend/controller/UserControllerTest.java
  backend/src/test/java/com/lerestaurant/le_restaurant_backend/service/UserServiceUnitTest.java
  backend/src/test/java/com/lerestaurant/le_restaurant_backend/util/PasswordValidatorTest.java
Due: azure-pipelines-testing.yml, azure-pipelines.yml

chore: Update .gitignore
  .gitignore
Due: none

added test case scenario for presentation
  design-plan-reference/07-overall-test-case.md
Due: azure-pipelines-testing.yml

update
  design-plan-reference/07-overall-test-case.md
Due: azure-pipelines-testing.yml

added backend order management
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/controller/OrderController.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/dto/UserUpdateRequestDto.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/repository/OrderRepository.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/service/OrderService.java
  frontend/src/App.tsx
  frontend/src/services/orderService.ts
Due: azure-pipelines-testing.yml, azure-pipelines.yml

updated with backend structure following f107 and f109
  IMPLEMENTATION_STRATEGY_F107_F108_F109.md
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/controller/DeliveryAddressController.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/controller/DeliveryController.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/controller/OrderController.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/controller/ReservationController.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/dto/DeliveryAddressCreateRequestDto.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/dto/DeliveryAddressDto.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/dto/DeliveryCreateRequestDto.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/dto/DeliveryDriverDto.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/dto/DeliveryDto.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/dto/DeliveryUpdateRequestDto.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/dto/OrderCreateRequestDto.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/dto/OrderDto.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/dto/OrderItemDto.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/dto/OrderItemRequestDto.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/dto/OrderUpdateRequestDto.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/dto/ReservationApprovalRequestDto.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/dto/ReservationCreateRequestDto.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/dto/ReservationDto.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/entity/DeliveryAddress.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/entity/OrderItem.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/entity/Reservation.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/repository/DeliveryAddressRepository.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/repository/DeliveryRepository.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/repository/OrderRepository.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/repository/ReservationRepository.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/service/DeliveryAddressService.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/service/DeliveryService.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/service/OrderService.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/service/ReservationService.java
  backend/src/test/java/com/lerestaurant/le_restaurant_backend/service/OrderServiceTest.java
  backend/src/test/java/com/lerestaurant/le_restaurant_backend/service/ReservationServiceTest.java
  frontend/src/components/molecules/OrderCard.tsx
  frontend/src/components/organisms/OrderManagementPanel.tsx
  frontend/src/hooks/useOrderApi.ts
  frontend/src/types/index.ts
  frontend/src/types/order.ts
Due: azure-pipelines-testing.yml, azure-pipelines.yml

added reservation backend
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/controller/ReservationController.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/repository/ReservationRepository.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/service/ReservationService.java
Due: azure-pipelines-testing.yml, azure-pipelines.yml

update the frontend structures , waiting for menu features are ready
  frontend/src/App.tsx
  frontend/src/components/atoms/Badge.tsx
  frontend/src/components/atoms/EmptyState.tsx
  frontend/src/components/atoms/ErrorMessage.tsx
  frontend/src/components/atoms/LoadingSpinner.tsx
  frontend/src/components/molecules/ConfirmDialog.tsx
  frontend/src/components/molecules/NavLink.tsx
  frontend/src/components/molecules/StatCard.tsx
  frontend/src/components/organisms/AdminDashboard.tsx
  frontend/src/components/organisms/CustomerDashboard.tsx
  frontend/src/components/organisms/Header.tsx
Due: azure-pipelines-testing.yml

fixed isseus
  INTEGRATION_TEST_STATUS.md
  MERGE_REVIEW_F107_COMPLETE.md
  backend/src/test/java/com/lerestaurant/le_restaurant_backend/service/DeliveryAddressServiceTest.java
  backend/src/test/java/com/lerestaurant/le_restaurant_backend/service/DeliveryServiceTest.java
  backend/src/test/java/com/lerestaurant/le_restaurant_backend/service/OrderServiceTest.java
  backend/src/test/java/com/lerestaurant/le_restaurant_backend/service/ReservationServiceTest.java
  design-plan-reference/07-overall-test-case.md
Due: azure-pipelines-testing.yml, azure-pipelines.yml

chore(version): bump major to 1.0.0 for frontend and backend
  backend/build.gradle
  frontend/package.json
Due: azure-pipelines-testing.yml, azure-pipelines.yml

fixed error
  frontend/src/components/molecules/ReservationForm.tsx
Due: azure-pipelines-testing.yml

Finally sould work
  MENU_MANAGEMENT_IMPLEMENTATION_COMPLETE.md
Due: azure-pipelines-testing.yml

Fixed the Create feature
  frontend/src/components/molecules/DeliveryCard.tsx
  frontend/src/components/organisms/DeliveryManagementPanel.tsx
  frontend/src/hooks/useDeliveryApi.ts
Due: azure-pipelines-testing.yml

made a combined the test cases for frontend viw, awaiting for menu feautre to be ready
  frontend/jest.integration.config.cjs
  frontend/package-lock.json
  frontend/package.json
  integration-tests/01-health-check.test.js
  integration-tests/02-auth-flow.test.js
  integration-tests/03-menu-display.test.js
  integration-tests/04-order-payment-flow.test.js
  integration-tests/05-reservation-flow.test.js
  integration-tests/setup.js
Due: azure-pipelines-testing.yml

Implemented unit tests
  F107_TEST_QUICK_START.md
  F107_TEST_SUITE_SUMMARY.md
  frontend/src/components/molecules/DeliveryCard.tsx
  frontend/src/components/molecules/DeliveryForm.tsx
  frontend/src/components/molecules/__tests__/DeliveryCard.test.tsx
  frontend/src/components/molecules/__tests__/DeliveryForm.test.tsx
  frontend/src/components/organisms/DeliveryManagementPanel.tsx
  frontend/src/components/organisms/__tests__/DeliveryManagementPanel.test.tsx
  frontend/src/hooks/__tests__/useDeliveryApi.test.ts
  frontend/src/hooks/useDeliveryApi.ts
Due: azure-pipelines-testing.yml

Finalise F107
  F107_MERGE_REVIEW_COMPLETE.md
  F107_MERGE_REVIEW_REPORT.md
Due: azure-pipelines-testing.yml

Added links to Menu Management
  frontend/src/components/organisms/AdminDashboard.tsx
  frontend/src/components/organisms/Header.tsx
  frontend/src/pages/AdminMenuPage.tsx
Due: azure-pipelines-testing.yml

Changing pipeline testing
  azure-pipeline-Mike.yml
Due: azure-pipelines-testing.yml

ci: restructure azure pipeline for production deployment
  azure-pipelines.yml
Due: azure-pipelines-testing.yml, azure-pipelines.yml

chore: update .gitignore to exclude build artifacts and temporary files
  .gitignore
Due: none

fixed backend startup issue
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/controller/OrderController.java
Due: azure-pipelines-testing.yml, azure-pipelines.yml

Fixed frontend and backend issues and connected them
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/controller/ReservationController.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/dto/ReservationCreateRequestDto.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/dto/TableDto.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/dto/TimeSlotDto.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/repository/ReservationRepository.java
  backend/src/main/java/com/lerestaurant/le_restaurant_backend/service/ReservationService.java
  frontend/src/components/molecules/ReservationForm.tsx
  frontend/src/components/organisms/Header.tsx
  frontend/src/components/organisms/ReservationModal.tsx
  frontend/src/hooks/useReservationApi.ts
  frontend/src/types/reservation.ts
Due: azure-pipelines-testing.yml, azure-pipelines.yml

Fixing connection issues with frontend and backend
  backend/src/test/java/com/lerestaurant/le_restaurant_backend/service/ReservationServiceComprehensiveTest.java
  backend/src/test/java/com/lerestaurant/le_restaurant_backend/service/ReservationServiceTest.java.backup
  docs/testing/F108_IMPLEMENTATION_STATUS.md
  docs/testing/F108_QUICK_START_TESTING.md
  frontend/src/App.tsx
  frontend/src/components/molecules/ReservationForm.tsx
  frontend/src/hooks/useReservationApi.ts
  frontend/src/pages/CustomerReservationsPage.tsx
Due: azure-pipelines-testing.yml, azure-pipelines.yml

Completed
  backend/src/main/resources/application.yml
  backend/src/main/resources/data.sql
  backend/start-backend.ps1
  frontend/src/components/organisms/CustomerReservationList.tsx
Due: azure-pipelines-testing.yml, azure-pipelines.yml

JUnit tests complete
  backend/F108_QUICK_TEST_GUIDE.md
  backend/src/test/java/com/lerestaurant/le_restaurant_backend/service/ReservationServiceEnhancedTest.java
Due: azure-pipelines-testing.yml, azure-pipelines.yml

chore(ci): rename azure-pipelines.yml to azure-pipelines-user-authentication-and-registration.yml
  azure-pipelines-user-authentication-and-registration.yml
Due: azure-pipelines-testing.yml
